<?xml version="1.0" encoding="UTF-8"?>
<!-- c标签和p标签以及aop切面支持 -->
<!-- aop切面编程支持，mvc支持 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 导入外部文件 -->
    <import resource="mapper.xml"/>
    <!-- 配置注解注册容器 -->
    <context:annotation-config/>
    <!-- 注册两个实体类-->
    <bean id="vipLevel1" class="com.ydproject.entity.VipLevel"/>

    <!-- 正常情况下，同一个bean通过.class获取 不能注册两次 ,其他方式无所谓 -->
    <!-- 注册Costomer类 -->
    <bean id="costomer1" name="costomer" class="com.ydproject.entity.Costomer">
        <property name="id" value="23333"/>
        <property name="name" value="我是构造器spring代理出来的对象"/>
        <property name="account" value="spring_depenceinput"/>
        <property name="details" value="一个被spring创造出来的没有灵魂的家伙"/>
        <property name="password" value="mede"/>
        <property name="vipId" value="5"/>
    </bean>
    <!-- 注册Costomer的工厂类 -->
        <bean id="factory" class="com.ydproject.entity.CostomerFactory" factory-method="getCostomer"/>



</beans>