<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydproject.mapper.CostomerMapper">

    <resultMap id="Cos1" type="costomer">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="vipId" column="vip_id"/>
        <result property="details" column="details"/>
        <association property="vipLevel" column="vip_id">
            <id property="id" column="vid"/>
            <result property="level" column="level"/>
            <result property="vipdetails" column="vipdetails"/>
        </association>
    </resultMap>

    <select id="selectById" resultMap="Cos1">
        select c.*,v.*,v.id vid from costomer c join vip_level v on c.vip_id = v.id and c.id = #{id}
    </select>

    <select id="selectByVid" resultType="costomer">
        select * from costomer where vip_id = #{id}
    </select>
</mapper>